{% extends "wagtailadmin/generic/create.html" %}
{% load i18n wagtailadmin_tags %}

{% block content %}
    <div class="w-grid w-grid--1-2">
        <div class="w-col">
            <h1 class="w-text-3xl w-font-bold w-mb-4">
                {% blocktrans %}Nuova {{ model_name }}{% endblocktrans %}
            </h1>
            <form action="{{ action_url }}" method="POST" novalidate>
                {% csrf_token %}
                {{ form.media }}
                {% for field in form %}
                    <div class="w-field w-mb-4">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <div class="w-help-text">{{ field.help_text }}</div>
                        {% endif %}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button type="submit" class="w-button w-button--primary">
                    {% trans 'Salva' %}
                </button>
            </form>
        </div>
        <div class="w-col w-pl-8">
            <div class="w-bg-gray-50 w-p-4 w-rounded">
                <h3 class="w-text-lg w-font-bold w-mb-2">Guida Rapida</h3>
                <ul class="w-list-disc w-pl-4">
                    {% if model_name == 'lesson' %}
                        <li>Il prezzo è in TeoCoin</li>
                        <li>Durata in minuti</li>
                        <li>Contenuto supporta Markdown</li>
                    {% elif model_name == 'course' %}
                        <li>Seleziona lezioni esistenti</li>
                        <li>Prezzo totale del corso</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}